 *{margin:0;
  padding:0;}
   
  
body{ 
  background-color: #dfa253
}


header{
 background-color:#8d4533; 
}

h1{
  font-size:2.2em;
  color:#170905;;
}
 
/* nav bar*/
#site-nav { 
  list-style:none;
  display: inline-block;
}
#site-nav li {
  display: inline-block;
}

#site-nav a{ 
  text-decoration: none;
  color:#ffaf97;
  margin-left:30px;
  } 

#site-nav li a:hover { 
  color:#f49537;
  border-bottom: #743838 2px solid;

}
#site-nav li a.active { 
  color:#fbf9f7;
  border-bottom: #743838 2px solid;

}



img{
  border: 2px solid #666467;
  border-radius:20px;
  width: 100%;
  max-width: 500px;
  min-width: 100px;
  margin:14px auto;
  margin-left:5px;
}
  
/*content*/


.container{

 max-width: 550px;
  min-width: 100px;
  float:right;
  margin-top:140px;
  margin-right:175px ;

  
 
}

    


p{
color:#000000;
font-style: italic;
font-family: arial;
font-weight: bold;
border:solid black 2px;
background-color:#e99a82;
padding:0 20px;
margin:0 98px;


}
.info{
    margin:5px 30px;
}

#self-p{
color: #080908;
font-weight: bold;
font-family: san serif;
font-style: italic;
border-style: dashed;
margin:15px 30px;
padding:13px 10px;
}

    
 



